/* body allignment */
body{
  margin: 0px;
}

/* nav bar section */
header{
background-color:#008cba;
}
.nav_bar_head{
position: absolute;
top: 46px;
left: 150px;
font-family: "Roboto";    
color: rgba(10, 27, 104, 0.966);
}
.nav_bar h5 {
  width: 25%;

}
header .nav_bar {
  overflow: hidden;
  position: sticky;
  width: 50%;
  height: 77px;
  margin: 27px;
  z-index: 1;
  float: right;
  background-color: transparent;
  box-shadow:0px 2px 2px #7F8C8D;
    }
.nav_bar li { 
/* position: relative; */
float: right;
/* display: inline; */
/* padding-left: 110px; */
}

/* logo properties */
.logo img{
    margin: 8px 0px 0px 0px;
    padding: 14px;
    line-height: 60px;
    border-radius: 4px;
    width:136px;
    height:70px;
}

.logo a:hover {
    background-color: transparent;
}

.nav_bar li a {
    text-decoration: none;
    margin: 20px 8px 0px 0px;
    padding: 14px;
    line-height: 60px;
    border-radius: 4px;
}

.nav_bar li a:hover {
    background-color: #ddd;
    color: rgba(10, 27, 104, 0.966);
}

/*
.header-right {
    float: right;
}

*/
/* hero section */

/* hero unit ford mustang page */
.hero_unit_fm img{
    position: relative;
    top: 150px;
    width: 1280px;
}

.hero_unit_title_fm p {
    font-family: "Roboto";
    font-size: 25px;
    color: rgb(58, 58, 58);
    position: absolute;
    top:135px;
    left: 450px;
    text-align: center;
  }

  .hero_unit_desc_fm p{
    font-family: "Roboto";
    font-size: 16px;
    color: rgb(58, 58, 58);
    position: absolute;
    top:175px;
    left: 10px; 
    text-align:center;
}

.hero_unit_a_fm a{
    position: absolute;
    left: 485px;
    top:240px;
    text-align:center;
    font-size: 22px;
    text-decoration: none;
    padding: 11px;
    line-height: 20px;
    border-radius: 4px;
    border: 2px solid #008cba;
}


.hero_unit_a_fm a:hover {
    background-color:#008cba;
    color: #ddd;
}

/* one more hero */
.hero_unit_fm_2 img{
    position: relative;
    top: 180px;
    width: 1340px;
}

.hero_unit_title_fm_2 p {
    font-family: "Roboto";
    font-size: 25px;
    color: rgb(245, 244, 244);
    position: absolute;
    top:1080px;
    left: 220px;
    text-align: center;
  }

.hero_unit_a_fm_2 a{
    position: absolute;
    left: 300px;
    top:1130px;
    text-align:center;
    font-size: 22px;
    text-decoration: none;
    padding: 11px;
    line-height: 20px;
    border-radius: 4px;
    border: 4px solid #ddd;
    color: #ddd;
}


.hero_unit_a_fm_2 a:hover {
    background-color:#ddd;
    color: #008cba;
}


.grids{
    margin-bottom: 75px;
}
.grids h1 {
  font-family: "Roboto";
  font-size: 25px;
  color: rgb(58, 58, 58);
  position: absolute;
  top:535px;
  left: 450px;
  text-align: center;
}

.grid_pic{
    padding-top: 120px;
}

.grid_pic h4{
    text-align: center;
    padding-top: 10px;
    color: rgb(58, 58, 58);
}

/*.grid_pic:hover{
    box-shadow: 2px 4px 8px 0 #008cba;
  
  }
*/

.grid_pic p {
      margin : 6px 6px;
  }

/* .colmn{
    padding-top: 5px;
    padding-left: 106px;
    margin-bottom: 9px;
}

  .colmn a{
    text-align:center;
    font-size: 14px;
    text-decoration: none;
    padding: 5px;
    line-height: 10px;
    border-radius: 3px;
    border: 1.5px solid #008cba;
}


.colmn a:hover {
    background-color:#008cba;
    color: #ddd;
}

.head3{
    font-family: "Roboto";
    font-size: 25px;
    color: rgb(58, 58, 58);
    position: absolute;
    top:1150px;
    left: 550px;
    text-align: center;
} */

.grid2 alpha img, .grid2 omega .t1 tbody tr td img{
    margin: 5px 5px;
}

/* 2 column section */
.engine_fm{
    padding-top: 250px;
    }


    .engine_fm omega{
        padding-top: 100px;
    }
.engine_a a{
    position: absolute;
    left: 860px;
    top:1460px;
    text-align:center;
    font-size: 22px;
    text-decoration: none;
    padding: 11px;
    line-height: 20px;
    border-radius: 4px;
    border: 2px solid #008cba;
}


.engine_a a:hover {
    background-color:#ddd;
    color: #008cba;
}

/* hero unit index.html */
.hero_unit_in img{
    position: relative;
    top: 100px;
    width: 1270px;
}

.hero_unit_title_in p {
  font-family: "Roboto";
  font-size: 25px;
  color: rgb(58, 58, 58);
  position: absolute;
  top:135px;
  left: 450px;
  text-align: center;
}

.hero_unit_desc_in p{
    font-family: "Roboto";
    font-size: 16px;
    color: rgb(58, 58, 58);
    position: absolute;
    top:175px;
    left: 10px; 
    text-align:center;
}


.hero_unit_a_in a{
    position: absolute;
    left: 570px;
    top:240px;
    text-align:center;
    font-size: 22px;
    text-decoration: none;
    padding: 11px;
    line-height: 20px;
    border-radius: 4px;
    border: 2px solid #008cba;
}

.hero_unit_a_in a:hover {
    background-color:#008cba;
    color: #ddd;
}

/* 3 column section  */
.grids{
    margin-bottom: 75px;
}
.grids h1 {
  font-family:"Roboto";
  font-size: 25px;
  color: rgb(58, 58, 58);
  position: absolute;
  top:535px;
  left: 450px;
  text-align: center;
}

/* grid section of index.html */
.grid_pic{
    padding-top: 120px;
}

.grid_pic h4{
    text-align: center;
    padding-top: 10px;
    color: rgb(58, 58, 58);
}

/* .grid_pic:hover{
    box-shadow: 2px 4px 8px 0 #008cba;
  
  } */


.grid_pic p {
      margin : 6px 6px;
  }

.grid_pic_more{
    padding-top: 5px;
    padding-left: 106px;
    margin-bottom: 9px;
}

  .grid_pic_more a{
    text-align:center;
    font-size: 14px;
    text-decoration: none;
    padding: 5px;
    line-height: 10px;
    border-radius: 3px;
    border: 1.5px solid #008cba;
}


.grid_pic_more a:hover {
    background-color:#008cba;
    color: #ddd;
}

/* 2 column section */
.gallery_title{
    font-family: "Roboto";
    font-size: 25px;
    color: rgb(58, 58, 58);
    position: absolute;
    top:1150px;
    left: 430px;
    text-align: center;
    margin: 20px 20px;
    width: 400px;
    height: 300px;

}

/* footer */

.footer{
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: #008cba;
    color: #ddd;
}

.footer2 h4{
    font-size: 18px;
    padding-left: 26px;
}

.footer2, ul li, .footer2 ul li a{
    text-decoration: none;
    list-style-type: none;
    line-height: 28px;
    font-size: 14px;
}

.footer2 ul{
    padding-left: 0px;
}

.footer2 ul li a:hover{
    text-decoration: underline;
}

.footer p{
    padding-left: 440px;
    margin-bottom: 0;
}
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-yahoo {
    background: #430297;
    color: white;
  }
  

  .fa {
    padding: 13px;
    font-size: 14px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 30%;
    border-color: black;
}