/* allign body */
body{
    margin: 0px;
}

/* Go further text  */
.nav_bar head{
    position: absolute;
    top: 57px;
    left: 145px;
    font-family: "Roboto";    
    color: rgba(10, 27, 104, 0.966);
}

/* nav bar */
.nav_bar {
    overflow: hidden;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color:#008cba;
    box-shadow:0px 2px 2px #7F8C8D;
}

/* logo in nav bar and its hovering */
.logo{
    float: left;
    width:36px;
    height:10px;
}


.logo a:hover {
    background-color: transparent;
}

/* float contents in nav bar and their hovering*/

.header-right a {
    text-decoration: none;
    margin: 20px 8px 0px 0px;
    padding: 14px;
    line-height: 60px;
    border-radius: 4px;
}

.header-right a:hover {
    background-color: #ddd;
    color: rgba(10, 27, 104, 0.966);
}

.header-right {
    float: right;
}

/* hero image */
.hero_image img{
    position: relative;
    top: 100px;
    width: 1270px;
}

/* hero text */
.hero_text p {
  font-family: "Roboto";
  font-size: 25px;
  color: rgb(58, 58, 58);
  position: absolute;
  top:135px;
  left: 450px;
  text-align: center;
}

.hero_text1 p{
    font-family: "Roboto";
    font-size: 16px;
    color: rgb(58, 58, 58);
    position: absolute;
    top:175px;
    left: 10px; 
    text-align:center;
}

/* hero anchor tag and its hover */
.hero1tag a{
    position: absolute;
    left: 570px;
    top:240px;
    text-align:center;
    font-size: 22px;
    text-decoration: none;
    padding: 11px;
    line-height: 20px;
    border-radius: 4px;
    border: 2px solid #008cba;
}

.hero1tag a:hover {
    background-color:#008cba;
    color: #ddd;
}

/* 3 column section  */
.grids{
    margin-bottom: 75px;
}
.grids h1 {
  font-family:"Roboto";
  font-size: 25px;
  color: rgb(58, 58, 58);
  position: absolute;
  top:535px;
  left: 450px;
  text-align: center;
}

.grid_pic{
    padding-top: 120px;
}

.grid_pic h4{
    text-align: center;
    padding-top: 10px;
    color: rgb(58, 58, 58);
}

/*.grid_pic:hover{
    box-shadow: 2px 4px 8px 0 #008cba;
  
  }
*/

.grid_pic p {
      margin : 6px 6px;
  }

.colmn{
    padding-top: 5px;
    padding-left: 106px;
    margin-bottom: 9px;
}

  .colmn a{
    text-align:center;
    font-size: 14px;
    text-decoration: none;
    padding: 5px;
    line-height: 10px;
    border-radius: 3px;
    border: 1.5px solid #008cba;
}


.colmn a:hover {
    background-color:#008cba;
    color: #ddd;
}

/* 2 column section */
.head3{
    font-family: "Roboto";
    font-size: 25px;
    color: rgb(58, 58, 58);
    position: absolute;
    top:1150px;
    left: 550px;
    text-align: center;
}

.grid2 alpha img, .grid2 omega .t1 tbody tr td img{
    margin: 15px 15px;
}


/* footer */
.footer{
    padding-top: 55px;
    background-color: #008cba;
    color: #ddd;
}

.footer2 h4{
    font-size: 18px;
    padding-left: 26px;
}

.footer2, ul li, .footer2 ul li a{
    text-decoration: none;
    list-style-type: none;
    line-height: 28px;
    font-size: 14px;
}

.footer2 ul{
    padding-left: 0px;
}

.footer2 ul li a:hover{
    text-decoration: underline;
}

.footer p{
    padding-left: 350px;
    margin-bottom: 0;
}
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-yahoo {
    background: #430297;
    color: white;
  }
  

  .fa {
      padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border-color: black;
}

/* next.html css */
.hero_image1 img{
    position: relative;
    top: 180px;
    width: 1280px;
}

.hero2tag a{
    position: absolute;
    left: 485px;
    top:240px;
    text-align:center;
    font-size: 22px;
    text-decoration: none;
    padding: 11px;
    line-height: 20px;
    border-radius: 4px;
    border: 2px solid #008cba;
}


.hero2tag a:hover {
    background-color:#008cba;
    color: #ddd;
}


.hero_image2 img{
    position: relative;
    top: 180px;
    width: 1440px;
}

.hero2tag a{
    position: absolute;
    left: 485px;
    top:250px;
    text-align:center;
    font-size: 22px;
    text-decoration: none;
    padding: 11px;
    line-height: 20px;
    border-radius: 4px;
    border: 2px solid #008cba;
}


.hero1tag a:hover {
    background-color:#008cba;
    color: #ddd;
}