body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(194, 197, 199);
}

header {
    position:fixed;
    top:1px;
    left: 0;
    width:100%;
    text-align: center;
    background: #EEE;
    padding: 5px 0;
}

li{
    display: inline;
    padding-right: 10px;
}

ul a{
    text-decoration: none;
}

ul a:hover{
    background-color: rgb(59, 54, 54);
    color: rgba(237, 238, 241, 0.966);
}



